body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#snap {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
   
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #00f260, #0575e6);
}

video {
   position: fixed;
} 
canvas {
    margin-left: 500px;
    margin-bottom: 40px;
}

